@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior:smooth;
}
:root{
 --green:#1DB954;
 --black: rgba(19, 19, 19, 0.972);
 --mattewhite:#FDFBF9;   
}
html::-webkit-scrollbar{
    width: 0.5rem;
    background: #2e2e2e;
}
html::-webkit-scrollbar-thumb{
    border-radius: 2rem;
    background: var(--black);
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: none;
    padding: 0 40px;
}
p{
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: rgb(241, 239, 239);
    
}
/* navbar */
nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:var(--black);
    z-index: 1;
}
.logo h1{
 color:white;
 font-size: 1.5rem;
 letter-spacing: 3px;
}

.logo span{
    color: #1DB954;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links a{
    color: var(--mattewhite);
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    transition: .3s;
}
.nav-links a:hover{
    color: var(--green);
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--mattewhite);
    transition: all 0.3s ease;
}


/* home */
.home-sec{
    min-height: 100vh;
    background-color:rgb(255, 253, 253);

}
.home-sec .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    padding:130px 0;

}
img{
    width: 100%;
    height: 100%;

}
.home-content h2{
    font-size:2rem;
    margin-bottom: 6px;

}
.home-content .btn{
    background-color:var(--black);
    padding: 15px 30px;
    color: white;
    display: inline-block;
    border-radius: 22px;
}
.home-content p{
   color: #333;
}
.home-content .btn i{
    font-size: 1.4rem;
    margin-right: 5px;
    color:var(--green);
}
.home-content .btn:hover{

    color: rgb(230, 230, 230);
}
.home-content .btn span{
    font-size: 1.2rem;
}
/* about */

.about-sec{
    height: 42em;
    background-color: black;
    color: white;
    padding-top: 30px;
}
.about-sec .container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 2.5rem;
}
.about-content{
    display: grid;
    grid-gap: 1.4rem;
}
.about-box i{
    font-size: 1.6rem;
    background-color: var(--green);
    color:black;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
.about-box h3{
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 1.4rem;
}
.about-box p{
    color:var(--mattewhite);
}
.about-img{
    width: 100%;
    height: 600px;
}
/* product */
.products-sec{
   /* min-height: 100vh; */
    padding: 60px 0;
    background-color:rgb(236, 234, 234);
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.products-container .box{
    position: relative;
    padding: 10px;
    background-color:rgb(245, 245, 240);
    border-radius: 15px;
    box-shadow: 0 5px 8px rgb(15 54  55/10%);
    height: 180px;
    transition: .3s;
    
    
}
.products-container .box:hover{
    box-shadow: 0 8px 8px rgb(30 60  60/40%);
    cursor: pointer;

}
.products-container .box img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    transition: .4s;
}
.products-container .box img:hover,.products-container .box img:focus{
    transform: scale(1.1);
}
.products-container .box h3{
    font-size: 1.1rem;
}
.products-container .box span{
    font-weight: 500;
}
.products-container .box .fas{
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem ;
  padding: 10px;
  background-color: var(--green);
  font-size: 1.4rem;
  border-radius: 8px;


}
/* earpods */
.ear-sec{
    padding: 60px 0;

}
.earpods-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    background:linear-gradient(-35deg,rgb(179, 177, 177),rgb(17, 17 , 17));
    border-radius: 20px;


}
.earpods-container img{
    height: 100%;
    width: 100%;
}
.earpods-detail{
    
    background-color: transparent;
    color: black;
    padding: 20px;
    border-radius: 20px;
}
.earpods-detail h2{
    font-size: 1.4rem;
    margin-bottom: 5px;

}
.earpods-detail span{
    font-size: 1.2rem;
}
.earpods-detail p{
    font-size: 1.1rem;
    color: black;
}
.earpods-detail .btn{
    background-color:var(--black);
    padding: 15px 25px;
    color: white;
    display: inline-block;
    border-radius: 22px;
}
.earpods-detail .btn i{
    font-size: 1.4rem;
    margin-right: 5px;
    color:var(--green);
}
.earpods-detail .btn:hover{

    color: rgb(230, 230, 230);
}
footer{
    
    background-color: black;
    padding: 50px 0px;

}
.foot-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(170px,auto));
    gap: 2rem;
    
}
.foot{
    display: flex;
    flex-direction: column;
}
.foot-container h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color:rgb(211, 211, 211);
}
.foot-container a{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: grey;
    cursor:default;
}
.f3 a{
   font-size: 2rem;
   padding: 0 5px;
   color:rgb(211, 211, 211);
   font-weight: 700;
   cursor: pointer;

}

@media screen and (max-width:1100px) {
    .nav-links{
        width: 50%;
    }
    .home-content h2{
        font-size: 1.5rem;
    }
    .home-content p{
        font-size: 1.1rem;
    }
    .home-content .btn{
        padding: 12px 15px;
    }

}
@media screen and (max-width:800px)
{
    body{
        overflow-x:hidden ;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 40vh;
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .nav-active{
        transform: translateX(0%);
    }
    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1; 
            transform: translateX(0px);

        }
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);

    }
    .toggle .line2{
        opacity: 0;

    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);


    }
   
    .home-sec{
        background-color:black;
        background:linear-gradient( rgba(14, 10, 10, 0.8), 
        rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1584582835835-c483999a7ae7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')center center/cover no-repeat;
        min-height: 100vh;
      
        
                
    }
    .home-sec .container{
        top: 200px;
    }
    .home-img img{
        display: none;
    }
    .home-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        color: white;

    }
    .home-content p{
        color: rgb(240, 240, 240);
    }

    .home-content h2{
        font-size: 1.7rem;
    }
    .home-content p{
        font-size: 1.3rem;
    }
    .home-content .btn{
        padding: 12px 15px;
        background-color: black;
    }
    .about-sec .about-img{
        display: none;
    }
    .about-sec{
        height: 80vh;
    }
    .about-content{
            display:flex;
            width: 100vw;
            align-items: center;
            justify-content: center;
            padding: 10px 40px;
            flex-wrap: wrap;

    }

}
@media screen and (max-width:750px)
{
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:550px)
{
    .products-container .box i{
        display: none;

    }
     .earpods-container img{
        display: none;
    }
    .earpods-container {
        background: none;
    }
    .ear-sec{
        background:linear-gradient( rgba(1, 0, 0,0.5), 
        rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/564x/f3/40/1c/f3401c26f37f95d05103fe0dbc2ff11a.jpg')no-repeat center center/cover;
        min-height: 100vh;
        
    }
    .earpods-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        color: white;
        padding: 200px 0px;

    }
    .earpods-detail p{
        color: white;
    }
    .earpods-detail .btn{
        padding: 12px 15px;

    }
    

    
}

    @media screen and (max-width:430px)
    {
        .home-content h2{
            font-size: 1.4rem;
        }
        .home-content p{
            font-size: 1.1rem;
        }
        .home-content .btn{
            padding: 12px 15px;
        }    
        .home-content{
            padding: 20px;
        }
        .about-content i{
            display: none;
        }
    }    
 
